* {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

nav {
  background-color: #EEE9DA;
}

.navbar .navbar-brand {
  font-size: 22px;
}

nav a {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 14px;
}

nav li {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
}

/* landing */


.landing .strong strong {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
}

.landing .strong strong span {
  color: #19376D;
  font-size: 50px;
  font-weight: 900;
}

/* laptops */
.card {
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  transition: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: 700;
  color: #19376D;
}

/* laptop  */
.laptop {
  background-color: #EEE9DA;
}

/* ACCESSORIES */
.ACCESSORIES {
  background-color: #EEE9DA;
}

/* contact */
.contact-card .content .icon {
  font-size: 4.5em;
}

.contact-card .info p {
  font-size: 1.8m;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ccard {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  transition: 0.6s;
}

.ccard:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 9em;
  text-align: center;
}

.info {
  text-align: center;
  margin-top: 10px;
}

.info h3 {
  color: rgb(32, 76, 111);
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px;
}

/* footer  */
.footer {
  background-color: #EEE9DA;
  color: #fff;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
}

.footer span {
  color: rgb(22, 49, 71);
}

.footer .social-icons a {
  padding-right: 12px;
  text-decoration: none;
  color: #19376D;
  font-size: 24px;
}


@media(max-width:1023px) {
  .content {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}